/* screen.css: Screen Styles */

/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

html {
  background: #313F54;
}

/* Body */

body {
  font-family: museo-sans, sans-serif;
  padding: 0px;
}

/* BEGIN - Clear Margins and Padding at appropriate points - BEGIN */

  #page > div {
    margin: 0px;
  }

/* END - Clear Margins and Padding at appropriate points - END */

/* Major Divisions */

/* Page (Containing Div) */

div#page {
  background: #fff;
  position: relative;
  margin: 0px auto;
}

/* Header */

div#header {
  background-color: #500;
  padding: 0px 12px;
}

div#header h1 {
  font-family: museo-slab, sans-serif;
}

div#header h1 a {
  font-family: museo-slab, sans-serif;
  text-decoration: none;
  color: #fff;
}

div#header p.tagline {
  color: #fff;
}

div#header ul.accessibility {
  display: none;
}

/* Contact Details */
div#header p.contact {
  background-color: #500;
  color: #fff;
}


/* Content */
div#content {
  border-top: 3px solid #aaa;
  font-family: museo-sans, sans-serif;
  background-color: #eee;
}

div#main {
}

div#supporting {
}

/* Footer */
div#footer {
  border-top: 1px solid #600;
  background-color: #fff;
  font-family: museo-sans, sans-serif;
}
div#footer p.credits {
}
div#footer ul.validators {
}
div#footer ul.validators li {
}

/*Navigation*/

div#navigation {
  background-color: #500;
  display: table;
  margin: 0px;
  width: 100%
}

div#navigation ul {
  display: table-row;
}

ul#navigation li a:visited {
}

ul#navigation li a:hover,
ul#navigation li a:focus {
}

/*Content Typography: Headings*/
div#content h1, div#content h2, div#content h3, div#content h4, div#content h5, div#content h6 {
  font-family: museo-slab, serif;
}
div#content h1  {
  font-size: 2em;
  line-height: 36px;
  margin-bottom: 18px;
}
div#content h2 {
  font-size: 1.1em;
}
div#content h3 {
}
div#content h4 {
}
div#content h5 {
}
div#content h6 {
}
div#content * a {
  text-decoration: none;
}

/*Content Typography: Paragraphs*/
div#content p {
  font-family: museo-sans, sans-serif;
}

div#content div:last-child p:last-child {
  margin-bottom: 0px;
}


/*Content Typography: Unordered Lists*/
div#content ul {
}
div#content ul li {
  list-style-type: square;
  list-style-position:inside;
  margin-left: 12px;
  text-indent: -12px;
}
/*Nested*/
div#content * li ul {
}
div#content * li ul li {
  list-style-type: square;
}

/*Content Typography: Ordered Lists*/
div#content ol {
}
div#content ol li {
}
/*Nested*/
div#content * li ol {
}
div#content * li ol li {
}

/*Content Typography: Links*/
div#content a {
  color: #313F54;
  text-decoration: none;
}
div#content a:visited {
  color: #444;
}
div#content a:hover,
div#content a:focus {
}

/*Content Typography: Links*/
div#footer a {
  color: #313F54;
  text-decoration: none;
}
div#footer a:visited {
  color: #444;
}
div#footer a:hover,
div#footer a:focus {
}

/* Navigation Bar */

/* Limiting this section to font, color and decoration */

  div#navigation ul li a {
    display: table-cell;
    text-align: center;
    text-decoration:none;
    color: #fff;
    background: #595855;
    vertical-align: middle;
  }

  div#navigation ul li:first-child {
    margin-left: 0px;
  }

  div#navigation ul li a.selected {
    border: 1px solid #aaa;
    text-decoration:none;
    color: #595855;
    background: #fff;
  }

  div#navigation li {
    font-family: museo-sans, sans-serif;
  }

  div#navigation ul li a:hover {
    color: #CAE6E8;
    background: #313F54;
  }

/* Job Tools Block */

body#resume div#content ul.tools {
  font-size: 10px;
  line-height: 12px;
  background-color: #fff;
  margin: 12px 0px;
  border: 1px #888 solid;
}
body#resume div#content ul.tools li {
  list-style-type: none;
  padding: 12px;
}

body#resume div#content ul.tools > li {
  list-style-type: none;
  margin-left: 40px;
  text-indent: -40px;
}

body#resume div#content p.company {
  border-top: 1px #888 solid;
}

body#resume div#content ul.job, body#resume h3 {
  overflow: auto;
}
body#resume div#content ul.job {
  display: table;
}
body#resume div#content ul.job > li {
  display: table-cell;
  margin-left: 0px;
  text-indent: 0px;
  list-style-type: none;
  float: left;
}
body#resume div#content ul.job > li + li {
  display: table-cell;
  margin-left: 10px;
  list-style-type: square;
}
body#resume div#content .job {
  margin-bottom: 0px;
}

/* Skills Tables */

table.skills {
  margin: 10px 0px;
  border: 1px solid #ccc;
  width: 100%;
}
table.skills tr > td {
  width: 60%;
  padding-left: 10px;
  line-height: 10px;
}
table.skills tr > td + td {
  text-align: center;
  width: 15%;
  padding-left: 0px;
  line-height: 10px;
}
tr > td {
  padding: 7px;
  font-size: 10px;
}
table.skills tr.skilldiv {
  background-color: #ddd;
}
table.skills tr.skilldiv > td {
  font-weight: 700;
  padding-left: 7px;
}

/* General Table Formats */

td.altrow {
  background-color: #eee;
}
tr > th {
  background-color: #ccc;
  padding: 7px;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}

tr:nth-child(odd) {
  background-color:#eee;
}
tr:nth-child(even) {
  background-color:#fff;
}

/* Visual Aids for Positioning */

/*
  div#page {
    border: 1px #000 solid;
  }

  div#header {
    border: 1px #090 solid;
  }

  div#navigation {
    border: 1px solid #aaa;
  }

  body.pct #page div#content {
    border: 10px #900 solid;
  }

  div#footer {
    border: 1px #009 solid;
  }
*/
