/* Visual Aids for Positioning */

/*
  div#page {
    border: 1px #000 solid;
  }

  div#header {
    border: 1px #090 solid;
  }

  div#navigation {
    border: 1px solid #aaa;
  }

  body.pct #page div#content {
    border: 10px #900 solid;
  }

  div#footer {
    border: 1px #009 solid;
  }
*/

