/* screen.css: Screen Styles */

/* 

This is set up to go from a 1 column (320px) to 2 column (768px) to 3 column (978px+) home page layout.

The#main fonts are from TypeKit: Museo Sans and Museo Slab Serif.

*/

/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: 700; }
/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

html {
  background: #313F54;
}

/* Body */

body {
  font-family: museo-sans, sans-serif;
  padding: 0px;
}
    
/* BEGIN - Clear Margins and Padding at appropriate points - BEGIN */

  #page > section {
    margin: 0px;
  }

/* END - Clear Margins and Padding at appropriate points - END */
    
/* Major Divisions */

/* Page (Containing Div) */

#page {
  background-color: #eee;
  position: relative;
  margin: 0px auto;
}

/* Header */

header {
  background-color: #500;
  padding: 0px;
}

header h1 {
  font-family: museo-slab, serif;
  font-weight: 700;
}

header h1 a {
  text-decoration: none;
  color: #fff;
}

header p.tagline {
  color: #fff;
}

header ul.accessibility {
  display: none;
}

/* Contact Details */
header p.contact {
  background-color: #500;
  color: #fff;
}

#content, footer {
  font-family: museo-sans, sans-serif;
}

/* Content */
  #content {
    border-top: 3px solid #aaa;
    background-color: #eee;
  }

  #main {
    overflow: auto;
  }

  #supporting {
    overflow: auto;
  }

  .trace {
    border: 0px solid #000;
  }

/* Footer */
  footer {
    border-top: 1px solid #600;
    background-color: #fff;
  }
  footer p.credits { }
  footer ul.validators { }
  footer ul.validators li { }

  /*Navigation*/

  nav ul li {
  }

  nav ul li a {
  }

  nav ul li a:visited {
  }

  nav ul li a:hover,
  nav ul li a:focus {
  }

/* Navigation Bar */

/* Limiting this section to font, color and decoration */

/*
  div#navcontainer {
    display: block;
    width:100%;
    min-width:400px;
    margin: 0px;
    padding: 0px;
  }
*/

  nav {
    width:100%;
    position: relative;
    display: table;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }

  nav ul {
    display: table-row;
  }

  nav ul li a {
    padding: 0px;
    display: table-cell;
    text-align: center;
    text-decoration:none;
    color: #fff;
    background: #595855;
    vertical-align: middle;
  }

  nav ul li {
    float: left;
    display: inline;
  }

  nav ul li a.selected {
    border: 1px solid #aaa;
    text-decoration:none;
    color: #595855;
    background: #fff;
  }

  nav li {
    font-family: museo-sans, sans-serif;
  }

  nav ul li a:hover {
    color: #CAE6E8;
    background: #313F54;
  }

  nav ul li a.selected:hover {
    color: #595855;
    background: #fff;
  }

  nav ul li {
    float: left;
  }

/*Content Typography: Headings*/
  #content h1, 
  #content h2, 
  #content h3, 
  #content h4, 
  #content h5, 
  #content h6 {
    font-family: museo-slab, serif;
  }
  #content h1  {
    font-size: 2em;
    line-height: 36px;
    margin-bottom: 18px;
  }
  #content h2 {
    font-size: 1.1em;
  }
  #content h3 {
  }
  #content h4 {
  }
  #content h5 {
  }
  #content h6 {
  }
  #content * a {
    text-decoration: none;
  }
  div.row + h2, ul + h2, ul + h3, ul + h4 {
    margin-top: 18px;
  }
  #content p.company {
    margin-bottom: 0px;
  }

/*Content Typography: Paragraphs*/
#content p {
  font-family: museo-sans, sans-serif;
}

#content div:last-child p:last-child {
  margin-bottom: 0px;
}

/*Content Typography: Unordered Lists*/
#content ul {
}

#content ul li {
  list-style-type: square;
  list-style-position:inside;
  margin-left: 1em;
  text-indent: -1em;
}

/*Nested*/
#content * li ul {
}

#content * li ul li {
  list-style-type: square;
  list-style-position:inside;
  margin-left: 2em;
  text-indent: -1em;
}

/*Content Typography: Ordered Lists*/
#content ol {
}
#content ol li {
}

/*Nested*/
#content * li ol {
}
#content * li ol li {
}

/*Content Typography: Links*/
#content a {
  color: #313F54;
  text-decoration: none;
}
#content a:visited {
  color: #444;
}
#content a:hover,
#content a:focus {
}

/*Content Typography: Links*/
footer a {
  color: #313F54;
  text-decoration: none;
}
footer a:visited {
  color: #444;
}
footer a:hover,
footer a:focus {
}

/* Job Tools Block */

body#resume #content ul.tools {
  background-color: #fff;
  margin: 12px 0px;
  border: 1px #888 solid;
}

/* This formatting is for the special tools listing per job. It applies to everything except the largest size */

body#resume #content ul.tools li {
  font-size: 10px;
  line-height: 12px;
  list-style-type: none;
  padding: 12px;
}

body#resume #content ul.tools > li {
  list-style-type: none;
  margin-left: 3.5em;
  text-indent: -3.5em;
}

body#resume #content p.company {
  border-top: 1px #888 solid;
}

body#resume #content ul.job, body#resume h3 {
  overflow: auto;
}
body#resume #content ul.job {
  display: table;
}
body#resume #content ul.job > li {
  display: table-cell;
  margin-left: 0px;
  text-indent: 0px;
  list-style-type: none;
  float: left;
}
body#resume #content ul.job > li + li {
  display: table-cell;
  margin-left: 10px;
  list-style-type: square;
}
body#resume #content .job {
  margin-bottom: 0px;
}

/* General Table Formats */

tr > th {
  background-color: #ccc;
  padding: 7px;
  font-weight: 700;
  text-align: center;
}

tr:nth-child(odd) {
  background-color:#eee;
}

tr:nth-child(even) {
  background-color:#fff;
}

table.general {
  margin: 18px 0px;
  border: 1px solid #ccc;
  width: 100%;
}

table.general:last-child {
  margin: 0px;
  border: 1px solid #ccc;
  width: 100%;
}

tr > td {
  padding: 7px;
  vertical-align: top;
}

table.tiny, table.tiny {
  font-size: 8px;
}

table.small > tr > td, table.small > th {
  font-size: 10px;
}

table.reg > td {
  font-size: 12px;
}

table .hide {
  display: none;
}

/* Skills Tables */

table.skills tr > td {
  width: 60%;
  padding-left: 10px;
}

table.skills tr > td + td {
  text-align: center;
  width: 15%;
  padding-left: 0px;
}

table.skills tr.skilldiv {
  background-color: #ddd;
}

table.skills tr.skilldiv > td {
  padding-left: 20px;
  font-weight: 700;
  padding-left: 7px;
}

/* Resume Writing Tables */

table.resumewriting tr th {
  text-align: center;
  width: 5%;
  padding-left: 0px;
}

table.resumewriting tr th.wide {
  text-align: center;
  width: 15%;
  padding-left: 0px;
}

/* Images */

img {
  max-width: 100%;
}

h2 {
  border-bottom: 1px #444 solid;
}

/* Grids */

/* Basic / 300px Grid */

@media screen {

  /* BEGIN - General HTML - BEGIN */

    html { /* Set font / line height / background */
      line-height: 18px;
      font-size: 12px;
    }

    html.grid { /* Set Visible Baseline Grid */
      background-image: url('img/18px-baseline.png');
    }

  /* END - General HTML - END */

  /* BEGIN - Body Widths - BEGIN */

    body.px #page, body.pxg #page {
      width: 320px;
    }

    body.pxg #page {
      background-image: url('img/300-grid.png');
    }

    body.pct #page {
      width: 90%;
      min-width: 320px; /* Minimum set to width of mobile device */
    }

    body.px #page #content, body.px #page nav, body.px #page header, body.px #page footer {
      padding: 18px 10px;
    }

    body.pct #page #content, body.pct #page nav, body.pct #page header, body.pct #page footer {
      padding: 18px 3.1250%;
    }

    body.px #page nav, body.pct #page nav {
      padding-top: 0px;
    }


  /* END - Body Widths - END */

  /* BEGIN - Header Styles - BEGIN */

    header {
      height: 90px;
    }

    header h1 {
      text-align: center;
      line-height: 36px;
      font-size: 24px;
    }

    header p {
      text-align: center;
    }
    
    caption {
      display: inline-block;
      margin-bottom: 18px;
    }

  /* END - Header Styles - END */

  /* BEGIN - Navigation Bar at the Top of the Page below the header - BEGIN */

    /* Using display:table to set up a flexible set of navigation buttons */

    nav ul li, nav ul li a {
      height: 54px;
    }

    body.px nav ul li, body.px nav ul li a {
      width: 66px;
    }

    body.pct nav ul li, body.pct nav ul li a {
      width: 22%;
      min-width: 66px;
    }

    body.px nav ul li {
      margin-left: 12px;
    }

    body.pct nav ul li {
      margin-left: 4%;
    }

    body.px nav ul li:first-child, body.pct nav ul li:first-child {
      margin-left: 0px;
    }

    body.px nav ul li a.selected {
      width: 64px;
    }

    body.pct nav ul li a.selected {
      width: 21.3333%;
    }

  /* END - Navigation Bar at the Top of the Page below the header - END */

  /* BEGIN - Main Content Block - BEGIN */

    #content #main h2, #content p {
      clear: both;
    }

    #content #main h2 {
      break-before: column;
    }

    #main {
      margin-bottom: 0px;
    }

    #resume #content #main h2, #resume #content #main h3 {
      padding-top: 18px;
    }

    #content #block1 h2 {
      padding: 0px;
    }

    #content p {
      padding-bottom: 18px;
    }

    .row h2 {
      clear: both;
      margin-top: 18px;
    }

    .row {
      display: inline-block;
      clear: both;
      margin-top: 18px;
      width: 100%
    }

    /* Print Design Portfolio */

      #printdesign h2 {
        margin-top: 18px;
        font-size: 20px;
        line-height: 36px;
      }

      #printdesign h3 {
        font-family: museo-sans, sans-serif;
        font-weight: 500;
        margin-bottom: 18px;
        font-size: 15px;
        line-height: 18px;
      }

  /* END - Main Content Block - END */

  /* BEGIN - Footer - BEGIN */

    footer {
      font-size: 9px;
      line-height: 18px;
    }

  /* END - Footer - END */
}


/* 748 Grid */

@media screen and (max-width: 767px) {
    nav {
      background: #eee;
    }
}

/* 748 Grid */

@media screen and (min-width: 768px) {

  /* BEGIN - General HTML - BEGIN */

    html { /* Set font / line height / background */
      line-height: 18px;
      font-size: 12px;
    }

    html.grid { /* Set Visible Baseline Grid */
      background-image: url('img/18px-baseline.png');
    }

  /* END - General HTML - END */

  /* BEGIN - Body Widths - BEGIN */

    body.px #page, body.pxg #page { /* Set #page to 748 plus 10 margin for 768 */
      width: 768px;
    }

    body.pxg #page { 
      background-image: url('img/748-grid.png');
    }

    body.pct #page { 
      width: 90%; 
      min-width: 748px; /* Set Minimum Width of 748 px */
    }

    body.px #page #content, body.px #page nav, body.px #page header, body.px #page footer {
      padding: 18px 10px;
    }

    body.pct #page #content, body.pct #page nav, body.pct #page header, body.pct #page footer {
      padding: 18px 1.3021%;
      width: 100%;
    }


  /* END - Body Widths - END */

  /* BEGIN - Header - BEGIN */

    header {
      height: 102px;
    }

    header h1 {
      text-align: left;
    }

    header p {
      text-align: left;
    }

  /* END - Header - END */

  /* BEGIN - Navigation Bar at the Top of the Page below the header - BEGIN */

    #page nav {
      position: absolute;
      top: 84px;
      clear: both;
      display: table;
    }

    body #page nav ul li, body #page nav ul li a {
      height: 36px;
    }

    body.px #page nav ul li, body.px #page nav ul li a {
      width: 108px;
      margin-left: 20px;
    }

    body.pct #page nav ul li, body.pct #page nav ul li a {
      width: 14.4385027%;
      margin-left: 2.6737968%;
    }

    body #page nav ul li:first-child {
      margin-left: 0px;
    }

  /* END - Navigation Bar at the Top of the Page below the header - END */

  /* BEGIN - Main Content Block - BEGIN */

    body.pct #page nav, body.px #page nav {
      padding-top: 18px;
    }

    #page #content {
      overflow: auto;
    }

    #content .block {
      float: left;
    }

    body.px #page #content .block {
      width: 364px;
      margin-left: 20px;
    }

    body.pct #page #content .block { /* 748px / 2 */
      width: 48.6631016%;
      margin-left: 2.6737968%;
    }

    #content h2 {
      padding-top: 0px;
    }

    body #page #content #main .block:first-child, body #page #content #block3 {
      margin-left: 0px;
    }

    body#printdesign div#row .block:first-child {
      margin-left: 0px;
    }

    div#row .block:first-child {
      margin-left: 0px;
    }

    #content p:last-child {
      margin-bottom: 0px;
    }

    table .hide {
      display: table-cell;
    }
    
    body.px#home #page #content #main, body.pct#home #page #content #main {
      -moz-column-count: 2;
      -moz-column-rule: 1px solid #313F54;
      -webkit-column-count: 2;
      -webkit-column-rule: 1px solid #313F54;
      column-count: 2;
      column-rule: 1px solid #313F54;
    }

    body.px#home #page #content #main {
      -moz-column-gap: 20px;
      -webkit-column-gap: 20px;
      column-gap: 20px;
    }

    body.pct#home #page #content #main {
      -moz-column-gap: 2.6737968%;
      -webkit-column-gap: 2.6737968%;
      column-gap: 2.6737968%;
    }


  /* END - Main Content Block - END */

  /* BEGIN - Footer - BEGIN */

    #page footer {
      font-size: 12px;
      line-height: 18px;
    }
    footer p.credits { }

  /* END - Footer - END */
}

/* 978 Grid */

@media screen and (min-width: 1002px) {

  /* BEGIN - General HTML - BEGIN */

    html { /* Set font / line height / background */
      line-height: 18px;
      font-size: 14px;
    }

    html.grid { 
      background-image: url('img/18px-baseline.png');
    }

  /* BEGIN - General HTML - BEGIN */

  /* BEGIN - Body Widths - BEGIN */

    body.px #page, body.pxg #page {
      width: 1002px;
    }

    body.pxg #page {
      background-image: url('img/978-grid.png');
    }

    body.pct #page {
      width: 90%;
    }

    body.px #page > section, body.px #page nav, body.px #page header, body.px #page footer {
      padding: 18px 12px;
    }

    body.pct #page #content, body.pct #page nav, body.pct #page header, body.pct #page footer {
      padding: 18px 1.1976%;
    }

  /* END - Body Widths - END */

  /* BEGIN - Header Styles - BEGIN */

    header {
      height: 108px;
    }

    header h1 {
      text-align: left;
    }

  /* END - Header Styles - END */

  /* BEGIN - Navigation Bar at the Top of the Page below the header - BEGIN */

    body #page nav {
      top: 90px;
    }

    body #page nav ul li, body #page nav ul li a {
      height: 36px;
      margin-bottom: 0px;
    }

    body.px #page nav ul li, body.px #page nav ul li a {
      width: 138px;
      margin-left: 30px;
    }

    body.pct #page nav ul li, body.pct #page nav ul li a {
      width: 14.1104294%;
      margin-left: 3.0674847%;
    }

    body #page nav ul li:first-child {
      margin-left: 0px;
    }

  /* END - Navigation Bar at the Top of the Page below the header - END */

  /* BEGIN - Main Content Block - BEGIN */

    #content {
    }

    body #page #content .block, body #page #content #block3 {
      float: left;
    }

    body.px #page #content .block, body.px #page #content .block3 {
      width: 306px;
      margin-left: 30px;
    }

    body.pct #page #content .block, body.pct #page #content .block3 { /* 978px / 3 */
      width: 31.2883436%;
      margin-left: 3.0674847%;
    }

    body#printdesign.px #page #content .block {
      width: 474px;
      margin-left: 30px;
    }

    body#printdesign.pct #page #content .block { /* 978px / 2 */
      width: 48.4662577%;
      margin-left: 3.0674847%;
    }

    body #page #content .block:first-child, body#printdesign #page #content .block:first-child { /* Need to declare both body and body#printdesign or this will not work */
      margin-left: 0%;
    }

    #content p:last-child {
      margin-bottom: 0px;
    }
    
    body.px#home #page #content #main, body.pct#home #page #content #main {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
    }

    body.px#home #page #content #main {
      -moz-column-gap: 30px;
      -webkit-column-gap: 30px;
      column-gap: 30px;
    }

    body.pct#home #page #content #main {
      -moz-column-gap: 3.0674847%;
      -webkit-column-gap: 3.0674847%;
      column-gap: 3.0674847%;
    }


  /* END - Main Content Block - END */

  /* BEGIN - Footer - BEGIN */

    #page footer {
      font-size: 12px;
      line-height: 18px;
    }

  /* END - Footer - END */
}

/* 1218 Grid */

@media screen and (min-width: 1248px) {

  /* BEGIN - General HTML - BEGIN */

    html { /* Set font / line height / background */
      line-height: 18px;
      font-size: 14px;
    }

    html.grid { /* Set font / line height / background */
      background-image: url('img/18px-baseline.png');
    }

  /* BEGIN - General HTML - BEGIN */

  /* BEGIN - Body Widths - BEGIN */

    body.px #page, body.pxg #page {
      width: 1218px;
    }

    body.pxg #page {
      background-image: url('img/1248-grid.png');
    }

    body.pct #page {
      width: 90%; /*Total with works out to 1248*/
    }

    body.px #page > section, body.px #page nav, body.px #page header, body.px #page footer {
      padding: 18px 15px;
    }

    body.pct #page #content, body.pct #page nav, body.pct #page header, body.pct #page footer {
      padding: 18px 1.2019%;
    }

  /* END - Body Widths - END */

  /* BEGIN - Header Styles - BEGIN */

    body header h1 {
      text-align: left;
      line-height: 36px;
      font-size: 28px;
    }

    #page p.contact, #page p.tagline {
      position: absolute;
      top: 54px;
    }

    body.px #page p.tagline {
      width: 828px;
    }

    body.pct #page p.tagline {
      width: 67.9802956%;
    }

    #page header {
      height: 90px;
    }

    body header p.contact {
      text-align: right;
    }

    body.px header p.contact {
      left: 858px;
      width: 350px;
    }

    body.pct header p.contact {
      left: 69.6546871%;
      width: 29.5566502%;
    }

  /* END - Header Styles - END */

  /* BEGIN - Navigation Bar at the Top of the Page below the header - BEGIN */

    body #page nav {
      top: 72px;
      display: inline-table;
      width: 100%;
    }

    body #page nav ul li, body.px #page nav ul li a {
      height: 36px;
    }

    body.px #page nav ul li, body.px #page nav ul li a {
      width: 178px;
      margin-left: 30px;
    }

    body.pct #page nav ul li, body.pct #page nav ul li a {
      width: 14.6141215%;
      margin-left: 2.4630542%;
    }

    body #page nav ul li {
      margin-bottom: 0px;
    }

    body #page nav ul li:first-child {
      margin-left: 0px;
    }

  /* END - Navigation Bar at the Top of the Page below the header - END */

  /* BEGIN - Main Content Block - BEGIN */

    #content {
    }

    body #page #content .block {
      float: left;
    }

    body.px #page #content .block, body.px #page #content .block3 {
      width: 386px;
      margin-left: 30px;
    }

    body.pct #page #content .block, body.pct #page #content .block3 { /* 1218px / 3 */
      width: 31.6912972%;
      margin-left: 2.4630542%;
    }

    body#printdesign.px #page #content .block {
      width: 594px;
      margin-left: 30px;
    }

    body#printdesign.pct #page #content .block { /* 1218px / 2 */
      width: 48.7684729%;
      margin-left: 2.4630542%;
    }

    body #page #content .block:first-child, body#printdesign #page #content .block:first-child { /* Need to declare both body and body#printdesign or this will not work */
      margin-left: 0%;
    }

    #content p:last-child {
      margin-bottom: 0px;
    }

  /* END - Main Content Block - END */

  /* BEGIN - Footer - BEGIN */

    #page footer {
      font-size: 12px;
      line-height: 18px;
    }

  /* END - Footer - END */

}

/* 1378 Grid */

@media screen and (min-width: 1408px) {

  /* BEGIN - General HTML - BEGIN */

    html { /* Set font / line height / background */
      line-height: 24px;
      font-size: 18px;
    }

    html.grid { /* Set font / line height / background */
      background-image: url('img/24px-baseline.png');
    }

  /* BEGIN - General HTML - BEGIN */

  /* BEGIN - Body Widths - BEGIN */

    body.px #page, body.pxg #page {
      width: 1408px;
    }

    body.pxg #page {
      background-image: url('img/1378-grid.png');
    }

    body.pct #page {
      width: 90%;
      max-width: 1408px;
    }

    body.px #page #content, body.px #page nav, body.px #page header, body.px #page footer {
      padding: 24px 15px;
    }

    body.pct #page #content, body.pct #page nav, body.pct #page header, body.pct #page footer {
      padding: 24px 1.0653%;
    }

  /* END - Body Widths - END */

  /* BEGIN - Header Styles - BEGIN */

    #page header {
      height: 72px;
    }

    header h1 {
      line-height: 48px;
      font-size: 42px;
    }

    header p {
      font-size: 15px;
    }

    header > p {
      position: absolute;
      top: 72px;
    }

    body.px #page header p.tagline {
      width: 938px;
    }

    body.pct #page header p.tagline {
      width: 68.0696662%;
    }

    body #page header p.contact {
      text-align: right;
    }

    body.px #page header p.contact {
      left: 968px;
      width: 400px;
    }

    body.pct #page header p.contact {
      left: 69.5515893%;
      width: 29.7532656%;
    }

  /* END - Header Styles - END */

  /* BEGIN - Navigation Bar at the Top of the Page below the header - BEGIN */

    body #page nav {
      top: 60px;
    }

    body #page nav ul li, body #page nav ul li a {
      height: 36px;
      font-size: 15px;
      margin-bottom: 0px;
    }

    body.px #page nav ul li, body.px #page nav ul li a {
      width: 204.66px;
      margin-left: 30px;
    }

    body.pct #page nav ul li, body.pct #page nav ul li a {
      width: 14.8523905%;
      margin-left: 2.1770682%;
    }

    body #page nav ul li:first-child {
      margin-left: 0px;
    }

  /* END - Navigation Bar at the Top of the Page below the header - END */

  /* BEGIN - Main Content Block - BEGIN */

    #content {
    }

    #main {

    }

    body #page #content .block {
      float: left;
    }

    body.px #page #content .block, body.px #page #content #block3 {
      width: 439px;
      margin-left: 30px;
    }

    body.pct #page #content .block, body.pct #page #content #block3 { /* 1378px / 3 */
      width: 31.8819545%;
      margin-left: 2.1770682%;
    }

    body#printdesign.px #page #content .block {
      width: 674px;
      margin-left: 30px;
    }

    body#printdesign.pct #page #content .block { /* 1378px / 2 */
      width: 48.9114659%;
      margin-left: 2.1770682%;
    }

    body #page #content .block:first-child, body#printdesign #page #content .block:first-child { /* Need to declare both body and body#printdesign or this will not work */
      margin-left: 0px;
    }

    /* Enlarging the fonts for the maximum browser size */

      body#resume #content ul.tools li {
        font-size: 15px;
        line-height: 24px;
        list-style-type: none;
        padding: 12px;
      }

      body#resume #content ul.tools > li {
        list-style-type: none;
        margin-left: 3.5em;
        text-indent: -3.5em;
      }

      tr > td, tr > th {
        padding: 7px;
        font-size: 15px;
      }

      div.row + h2, ul + h2, ul + h3, ul + h4 {
        margin-top: 24px;
      }

    /* Print Design Portfolio */

      body#printdesign h2 {
        margin-top: 24px;
        font-size: 40px;
        line-height: 48px;
      }

      body#printdesign h3 {
        margin-bottom: 24px;
        font-size: 20px;
        line-height: 24px;
      }

    /* End enlargement */

  /* END - Main Content Block - END */

  /* BEGIN - Footer - BEGIN */

    #page footer p.credits, #page footer ul.validators li {
      font-size: 12px;
      line-height: 24px;
    }

  /* END - Footer - END */

}
