/* screen.css: Screen Styles */

/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

/* Body */

body {
  font-family: 'Open Sans', sans-serif;
}

/* Major Divisions */

/* Page (Containing Div) */
div#page {
  position: relative;
  margin: 0px auto;
}

/* Header */
div#header {
  background-color: #000;
  padding: 0px 12px;
}
div#header h1 {
}
div#header h1 a {
  font-family: 'Volkhov', serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
div#header p.tagline {
  color: #fff;
}
div#header ul.accessibility {
  display: none;
}

/* Contact Details */
div#header .contact {
  color: #fff;
}


/* Content */
div#content {
  background-color: #A2ABA5;
}

div#main {
}

div#supporting {
}

/* Footer */
div#footer {
}
div#footer p.credits {
}
div#footer ul.validators {
}
div#footer ul.validators li {
}

/*Navigation*/

#page div#navigation {
  background-color: #000;
}
ul#navigation {
}

ul#navigation li {
}

ul#navigation li a {
}

ul#navigation li a:visited {
}

ul#navigation li a:hover,
ul#navigation li a:focus {
}


/*Content Typography: Headings*/
div#content h2 {
  font-family: 'Volkhov', serif;
  font-weight: 700;
}
div#content h3 {
}
div#content h4 {
}
div#content h5 {
}
div#content h6 {
}

/*Content Typography: Paragraphs*/
div#content p {
  font-family: 'Volkhov', serif;
}

/*Content Typography: Unordered Lists*/
div#content ul {
}
div#content ul li {
}
/*Nested*/
div#content * li ul {
}
div#content * li ul li {
}

/*Content Typography: Ordered Lists*/
div#content ol {
}
div#content ol li {
}
/*Nested*/
div#content * li ol {
}
div#content * li ol li {
}

/*Content Typography: Links*/
div#content a {
}
div#content a:visited {
}
div#content a:hover,
div#content a:focus {
}

/* Navigation Bar */

/* Limiting this section to font, color and decoration */

  #navigation ul {
  }
  #navigation li {
    font-family: "Open Sans"
  }
  #navigation ul li a {
    text-decoration:none;
    color: #fff;
    background: #595855;
  }
  #navigation ul li a:hover {
    color: #CAE6E8;
    background: #313F54;
  }

/* Visual Aids for Positioning */

  div#page {
    border: 1px #000 solid;
  }
  
  div#navigation ul li a {
    border: 1px solid #fff;
  }

  div#content {
    border: 1px #900 solid;
  }

  div#header {
    border: 1px #090 solid;
  }

  div#footer {
    border: 1px #009 solid;
  }

/* Grids */

/* Basic / 300px Grid */

@media screen {
  /* See http://978.gs/ */
  #page {
    width: 300px; /*Total with works out to 320*/
    padding: 0px 10px 0px 10px;
    background-image: url('img/300-grid.png');
  }
  html {
    line-height: 18px;
    font-size: 12px;
    background-image: url('img/18px-baseline.png');
  }
  div#header {
    height: 108px;
  }
  body div#header h1 {
    text-align: center;
    line-height: 36px;
    font-size: 24px;
  }
  div#header p {
    text-align: center;
  }

  /* BEGIN - Navigation Bar at the Top of the Page below the header - BEGIN */

    /* Using display:table to set up a flexible set of navigation buttons */
    #page div#navigation { 
      display: inline-table;
      width: 100%;
      margin: 18px 0px;
    }

    div#navigation ul {
      display: table-row;
    }

    div#navigation ul li, div#navigation ul li a {
      height: 36px;
      width: 144px;
    }

    div#navigation ul li {
      float: left;
      margin-bottom: 18px;
      margin-left: 12px;
    }

    div#navigation ul li a {
      display: table-cell;
      padding: 0px 0px;
      text-align: center;
      vertical-align: middle;
    }

    div#navigation ul li:first-child, div#navigation ul li.cut {
      margin-left: 0px;
    }

  /* END - Navigation Bar at the Top of the Page below the header - END */

  div#content {
    clear: both;
    margin: 18px 0px;
  }

  div#content h2 {
    margin: 9px 0px;
  }

  div#content div#main .block:first-child {
    margin: 0px 0px;
  }

}

/* 748 Grid */

@media screen and (min-width: 768px) {
  /* See http://978.gs/ */
  #page {
    width: 748px; /*Total with works out to 1008*/
    padding: 0px 10px 0px 10px;
    background-image: url('img/748-grid.png');
    /* border: 1px #000 solid; */
  }
  html { /* Set font / line height / background */
    line-height: 18px;
    font-size: 12px;
    background-image: url('img/18px-baseline.png');
  }
  div#header {
    height: 90px;
  }
  body div#header h1 {
    text-align: left;
  }
  div#header p {
    text-align: left;
  }

  /* BEGIN - Navigation Bar at the Top of the Page below the header - BEGIN */

    #page div#navigation { 
      clear: both;
      display: inline-table;
      margin: 18px 0px;
    }

    #page div#navigation ul {
      display: table-row;
    }

    #page div#navigation ul li, #page div#navigation ul li a {
      height: 36px;
      width: 108px;
    }

    #page div#navigation ul li, #page div#navigation ul li.cut {
      margin-bottom: 0px;
      margin-left: 20px;
    }

    #page div#navigation ul li a {
      display: table-cell;
      padding: 0px 0px;
      text-align: center;
      vertical-align: middle;
    }

    #page div#navigation ul li:first-child {
      margin-left: 0px;
    }

  /* END - Navigation Bar at the Top of the Page below the header - END */

  /* BEGIN - Main Content Block - BEGIN */

    #page div#content {
      clear: both;
      width: 100%;
    }
    
    #page div#content div.block {
      width: 364px;
      float: left;
      margin-left: 20px;
    }

    #page div#content div.block:first-child, #page div#content div#block3 {
      margin-left: 0px;
    }

  /* END - Main Content Block - END */

}

/* 978 Grid */

@media screen and (min-width: 1002px) {
  /* See http://978.gs/ */
  #page {
    width: 978px; /*Total with works out to 1008*/
    padding: 0px 12px 0px 12px;
    background-image: url('img/978-grid.png');
  }
  html { /* Set font / line height / background */
    line-height: 18px;
    font-size: 14px;
    background-image: url('img/18px-baseline.png');
  }
  body div#header h1 {
    text-align: left;
  }

  /* BEGIN - Navigation Bar at the Top of the Page below the header - BEGIN */

    #page div#navigation { 
      display: table;
      margin: 18px 0px;
    }

    #page div#navigation ul {
      display: table-row;
    }

    #page div#navigation ul li, #page div#navigation ul li a {
      height: 36px;
      width: 138px;
    }

    #page div#navigation ul li, #page div#navigation ul li.cut {
      margin-bottom: 0px;
      margin-left: 30px;
    }

    #page div#navigation ul li a {
      display: table-cell;
      padding: 0px 0px;
      text-align: center;
      vertical-align: middle;
    }

    #page div#navigation ul li:first-child {
      margin-left: 0px;
    }

  /* END - Navigation Bar at the Top of the Page below the header - END */

  /* BEGIN - Main Content Block - BEGIN */

    #content {
      clear: both;
      width: 100%;
    }
    
    .block {
      width: 306px;
      float: left;
      margin-left: 20px;
    }

    .block:first-child {
      margin-left: 0px;
    }

  /* END - Main Content Block - END */

}

/* 1248 Grid */

@media screen and (min-width: 1248px) {
  /* See http://978.gs/ */
  #page {
    width: 1218px; /*Total with works out to 1248*/
    padding: 0px 15px 0px 15px;
    background-image: url('img/1248-grid.png');
  }
  html { /* Set font / line height / background */
    line-height: 18px;
    font-size: 14px;
    background-image: url('img/18px-baseline.png');
  }
  body div#header h1 {
    text-align: left;
    line-height: 36px;
    font-size: 28px;
  }
  #page .tagline {
    width: 828px;
  }
  div#header {
    height: 72px;
  }
  div#header .contact {
    text-align: right;
    position: absolute;
    top: 36px;
    left: 858px;
    width: 350px;
  }

  /* BEGIN - Navigation Bar at the Top of the Page below the header - BEGIN */

    #page div#navigation { 
      display: table;
      margin: 18px 0px;
    }

    #page div#navigation ul {
      display: table-row;
    }

    #page div#navigation ul li, #page div#navigation ul li a {
      height: 36px;
      width: 126px;
    }
    
    #page div#navigation ul li, #page div#navigation ul li.cut {
      margin-bottom: 0px;
      margin-left: 30px;
    }

    #page div#navigation ul li a {
      display: table-cell;
      padding: 0px 0px;
      text-align: center;
      vertical-align: middle;
    }

    #page div#navigation ul li:first-child {
      margin-left: 0px;
    }

  /* END - Navigation Bar at the Top of the Page below the header - END */


  /* BEGIN - Main Content Block - BEGIN */

    .block, #block3 {
      width: 386px;
      float: left;
      margin-left: 30px;
    }

    .block:first-child {
      margin-left: 0px;
    }

  /* END - Main Content Block - END */

  /* Footer */
  div#footer {
    clear: both;
    position: relative;
    left: 0px;
    bottom: 0px;
  }
  div#footer p.credits {
  }
  div#footer ul.validators {
  }
  div#footer ul.validators li {
    display: inline;
    font-family: "Open Sans"
  }

}

/* 1378 Grid */

@media screen and (min-width: 1408px) {
  #page {
    width: 1378px; /*Total with works out to 1408*/
    /*height: 900px;*/
    padding: 0px 15px 0px 15px;
    background-image: url('img/1378-grid.png');
  }
  html { /* Set font / line height / background */
    line-height: 24px;
    font-size: 18px;
    background-image: url('img/24px-baseline.png');
  }
  body div#header h1 {
    line-height: 48px;
    font-size: 42px;
  }
  #page .tagline {
    width: 938px;
  }
  #page div#header {
    height: 96px;
  }
  #page div#header .contact {
    text-align: right;
    position: absolute;
    top: 48px;
    left: 968px;
    width: 400px;
  }

  /* BEGIN - Navigation Bar at the Top of the Page below the header - BEGIN */

    #page div#navigation { 
      display: table;
      margin: 0px 0px;
      width: 100%;
    }

    #page div#navigation ul {
      display: table-row;
    }

    #page div#navigation ul li, #page div#navigation ul li a {
      height: 48px;
      width: 146px;
    }

    #page div#navigation ul li, #page div#navigation ul li.cut {
      margin-bottom: 0px;
      margin-left: 30px;
    }

    #page div#navigation ul li a {
      display: table-cell;
      padding: 0px 0px;
      text-align: center;
      vertical-align: middle;
    }

    #page div#navigation ul li:first-child {
      margin-left: 0px;
    }

  /* END - Navigation Bar at the Top of the Page below the header - END */

  /* BEGIN - Main Content Block - BEGIN */

    #content {
/*      position: relative; */
    }

    #content .block, #block2, #block3 {
      width: 438px;
      float: left;
      margin-left: 30px;
    }

    #page .block:first-child {
      margin-left: 0px;
    }

  /* END - Main Content Block - END */

  /* Footer */
  #page div#footer {
    font-family: "Open Sans"
  }
  div#footer p.credits {
    font-size: 9px;
    line-height: 24px;
  }
  div#footer ul.validators {
  }
  div#footer ul.validators li {
    display: inline;
    font-size: 9px;
    line-height: 24px;
  }

}

